@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .liveScore-box{
        background-color: #390035;
    }
    @font-face {
        font-family: 'Amboy-Black';
        src: url('../fonts/Parkinson\ -\ Amboy-Black.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    .Parkinson{
        font-family: 'Amboy-Black';
    }
    .livescore-sports-box{
        background: url('../assets/bg-vectors/LiveScoresbg.png'),#ffd1a8 no-repeat;
        background-size: cover;
        min-height: 10rem;
    }
}

