@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

@font-face {
  font-family: "Amboy";
  src: url("../fonts/Parkinson\ -\ Amboy-Black.otf");
}

@font-face {
  font-family: "OctoberDevanagari";
  src: url("../fonts/OctoberDevanagari.ttf");
}

@font-face {
  font-family: "ArianaPro";
  src: url("../fonts/Ariana Pro Regular.otf");
}

/* Common styles */
:root {
  --primary-color: #a40035;
  --secondary-color: #39003540;
  --background-color: #39003540;
  --box-shadow-color: #39003540;
  --font-family: Amboy, OctoberDevanagari;
}
/* profile page  */
.box {
  margin:8rem auto;
  width:80%;
}
.container {
  width: 100%;
}
.layer1{
  display: flex;
}

.form-group{
  width:50%;
  margin:2rem auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the main container takes up at least the full viewport height */
}
.content {
  flex: 1;
}
.svg {
  width: 100vw;
  height: 80%;
  color: red;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

/* CSS for ReactCalendar component */
.calendar-container {
  font-family: var(--font-family);
  max-width: 300px;
  margin: 0 auto;
  background: #fdd1aa;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--box-shadow-color);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header h2 {
  color: var(--primary-color);
  font-size: 24px;
}

.calendar-header button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.calendar-header button:hover {
  background-color: #4a2d6d; /* Darken the color on hover */
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-width: 100%;
}

.calendar-day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.day {
  color: #390035;
}
.day:hover {
  color: white;
}
.calender-week-day {
  display: flex;
  align-items: right;
}
.week-day {
  text-align: center;
  font-weight: 700;
  padding: 8px 4px;
  font-size: 16px;
}

.calendar-day:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.calendar-day.selected {
  background-color: var(--primary-color);
  color: #fff;
}

.events-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px var(--box-shadow-color);
  margin-top: 10px;
}

.close-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.close-button:hover {
  background-color: #4a2d6d; /* Darken the color on hover */
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dialog-header span {
  color: var(--primary-color);
  font-weight: bold;
}

.events-list h3,
.competitions-list h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.events-list ul,
.competitions-list ul {
  list-style: none;
  padding: 0;
}

.events-list li,
.competitions-list li {
  margin-bottom: 10px;
}

.events-list h4,
.competitions-list h4 {
  color: var(--primary-color);
  font-size: 18px;
}

.events-list p,
.competitions-list p {
  color: #333;
  margin-bottom: 5px;
}

.events-list p:last-child,
.competitions-list p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1100px) {
  .calendar-container {
    max-width: 500px;
  }

  .calendar-header h2 {
    font-size: 28px;
    margin-left: 8px;
  }

  .calendar {
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

  .calendar-day {
    width: 50px;
    height: 50px;
    margin-left: 2px;
    margin-top: 2px;
  }
  .day {
    font-size: 18px;
    font-weight: 700;
  }
}

.submit-button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #4a2d6d;
}

/* Responsive styles */

@media (max-width: 2000px) {
  .submit-button {
    margin-left: 10%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .inputborder {
    @apply my-4 border-2 border-solid;
  }
}
